.elements {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin: 0 auto 67px auto;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 1000px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}

@media screen and (max-width: 574px) {
    .elements {
        width: calc(100% - 38px);
        margin-bottom: 48px;
        grid-template-columns: 100%;
    }
}