@import url("../vendor/normalize.css");

@import url("../vendor/fonts/inter.css");



@import url("../blocks/body/body.css");

@import url("../blocks/page/page.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__heading/profile__heading.css");
@import url("../blocks/profile/__heading-description/profile__heading-description.css");
@import url("../blocks/profile/__wrapper/profile__wrapper.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");

@import url("../blocks/elements/elements.css");
@import url("../blocks/element/element.css");
@import url("../blocks/element/__picture/element__picture.css");
@import url("../blocks/element/__description/element__description.css");
@import url("../blocks/element/__name/element__name.css");
@import url("../blocks/button-like/button-like.css");
@import url("../blocks/button-like/_active/button-like_active.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__text/footer__text.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__heading/popup__heading.css");
@import url("../blocks/popup/__text/popup__text.css");
@import url("../blocks/popup/__btn/popup__btn.css");
@import url("../blocks/popup/__btn-close/popup__btn-close.css");